@mixin grid($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    grid-gap: $gap;
}

@mixin breakpoint($size) {
    $breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
    );

@if map-has-key($breakpoints, $size) {
    $value: map-get($breakpoints, $size);

    @media (min-width: $value) {
        @content;
    }
}

@else {
    @error "No breakpoint found for #{$size}.";
}
}

@mixin responsive-font($min-size, $max-size, $min-width: null, $max-width: null) {
    font-size: $min-size;

    @if $min-width {
        @media (min-width: $min-width) {
            font-size: calc(#{$min-size} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}) / (#{$max-width} - #{$min-width})));
        }
    }

    @if $max-width {
        @media (min-width: $max-width) {
            font-size: $max-size;
        }
    }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

.container {
    max-width: 1440px;
}

header {
    height: 100px;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    display: flex;
    align-items: center;

}

.logoHeader {
    display: flex;
}

.logoHeader p {
    font-size: x-large;
    font-weight: bolder;
}

.menu ul {
    margin-left: 100px;
    display: flex;
}

.menu ul li {
    margin: 20px;
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.iconNavigate i {
    margin: 20px;
}

.detai-navigate {
    background-color: #F9F1E7;
}

.detai-navigate .child {
    margin-top: 15px;
    display: flex;
    height: 100px;
    align-items: center;
    width: 25%;
    margin-right: 1000px;
}

.product-name {
    border-left: 2px solid #9F9F9F;
    height: 40px;
    width: 150px;
    text-align: center;
}

.product-name p {
    margin-top: 8px;
}

.page-name {
    color: #9F9F9F;
}

.detail-product {
    display: flex;
    margin-top: 50px;
    max-width: 90%;
}

.box-left {
    line-height: 70px;
}

.box-right {
    width: 80%;
    margin-left: 90px;
}

.product_name h2 {
    font-size: 42px;
    font-weight: 400;
}

.price {
    margin-top: 10px;
}

.price h3 {
    font-size: 24px;
    font-weight: 500;
    color: #9F9F9F;
}

.description p {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
}

.addToCart {
    margin-top: 50px;
    margin-right: 30px;
}

.addToCart,
.selectQuantity,
.compare,
.add {
    align-items: center;
    display: flex;
    height: 65px;
}

.selectQuantity {
    border: 1px solid #9F9F9F;
    width: 123px;
    border-radius: 10px;
}

.add,
.compare {
    width: 215px;
    border-radius: 10px;
    border: 1px solid black;
}

.child-parameter {
    margin: 5px;
    display: flex;
}

.child-parameter .p1 {
    width: 80px;
    margin: 0;
    padding: 0;
}

.icon,
.child-parameter p {
    margin-left: 10px;
    padding: 0;
}

.child-parameter a {
    margin: 10px;
}

.desciption-section1 .title {
    display: flex;
    margin-top: 50px;
    font-size: 24px;
    margin-left: 300px;
    margin-right: 300px;
}

.desciption-section1 .title h3 {
    font-weight: 500;
}

.desciption {
    width: 75%;
    margin-top: 30px;
    color: #9F9F9F;
}

.image-des {
    width: 90%;
    margin-top: 25px;
    display: flex;
}

.products {
    display: flex;
}

.card {
    margin-top: 40px;
    margin-bottom: 45px;
    line-height: 35px;
    background-color: rgb(237, 241, 241);
}

.text-item,
.discount {
    margin-left: 10px;

}

.discount {
    display: flex;
    width: 40%;
    gap: 10px;
    float: left;
}

.relatedProducts h2 {
    margin-top: 50px;
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}

.more p {
    font-weight: 600;
    font-size: 16px;
    color: #B88E2F;
    border: 2px solid #B88E2F;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 15%;
}

footer {
    display: flex;
    margin-top: 30px;
    line-height: 50px;
    font-weight: 500;
}

.copyright {
    width: 92%;
}

.title-footer {
    font-weight: 700;
    font-size: 24px;
}

.newletter input,
button {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 10px;
}

input::placeholder {
    font-weight: 400;
    color: #9F9F9F;
}